<% content_for :title, custom_header[:title] if should_render_header? %>

<div class="custom-page min-h-full" data-testid="custom-page">
  <div class="py-6 px-4 sm:px-6 lg:px-8">

    <% if should_render_header? %>
      <%= render BetterPage::Common::HeaderComponent.new(**custom_header) %>
    <% end %>

    <% if should_render_footer? %>
      <%= render BetterPage::Common::FooterComponent.new(**custom_footer) %>
    <% end %>

  </div>
</div>
